*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E4FED8;
    flex-direction: column;
    height: 100vh;
}
video{
    height: 70%;
    width: 45%;
    border-radius: 20px;
}
:root {
    --bg: #E4FED8;
    --color: black ;
}
.wrapper {
    padding: 1.5rem 0;
    filter: url('#goo');
}
.button {
    display: inline-block;
    text-align: center;
    background: var(--color);
    color: var(--bg);
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-family: 'Bebas Neue' !important;
    font-size: 1.25rem;
    background-color: #68EDCB;
    letter-spacing: 4px;
    
}
.button:before,
.button:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: var(--color);
    border-radius: 50%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
    background-color: #68EDCB;
}

.button:before {
    top: -25%;
    left: 20%;
}
.button:after {
    bottom: -25%;
    right: 20%;
}
.button:hover:before,
.button:hover:after {
    transform: none;
}
/* width scrollbar*/
::-webkit-scrollbar {
    width: 15px;
  }
  
/* Track scrollbar*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    background: #f4d6a2;
}
  
/* Handle scrollbar*/
::-webkit-scrollbar-thumb {
    background: #AA7739;
    border-radius: 10px;
}
  
/* Handle on hover scrollbar*/
::-webkit-scrollbar-thumb:hover {
    background: #333232bb;
}